* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.back-main {
    background-color: #09015f;
    padding: 15px;
}

.main-nav {
    padding-left: 800px;
    padding-top: 12px;
    padding-bottom: 12px;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 0 30px; /*Espacio entre ellos mismos*/
    text-decoration: none; /*Quita la linea de remarcado de link*/
}

.main-logo {
    width: 6%;
    height: auto;
}

.main-nav__logo {
    position: absolute;
    left: 2px;
    top: 6px;
}

.main-lateralbar {
    background-color: #af0069;
    width: 25%;
    height: 563px;
    position: absolute;
}

.main-itemlateral {
    background-color: #55b3b1;
    margin: 30px;
    padding: 36px;
    color: white;
    text-align: center;
}

.main-secondpage {
    display: inline-block;
    position: relative;
    left: 28%;
    top: 10px;
}

.main-footer {
    background-color: #f6c065;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-list li {
    display: inline-block;
    padding: 20px 50px;
    color: #09015f;

}