/*Selector universal
para anular los efectos que pone el navegador*/
* {
    box-sizing: border-box; /*Suma el padding con el width del
    elemento para que asi no se desproporcione*/
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid grey; /*Borde de 10px, solido color gris*/
    /*20px de arriba hacia abajo y 35px de derecha a izquierda
    Si solo colocamos un digito lo aplica en los cuatro lados
    */
    padding: 20px 35px; 
}